@font-face {
    font-family: 'Reservation Wide Blk';
    src: url('ReservationWide-Black.eot');
    src: url('ReservationWide-Black.eot?#iefix') format('embedded-opentype'),
        url('ReservationWide-Black.woff2') format('woff2'),
        url('ReservationWide-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Reservation Wide Bd';
    src: url('ReservationWide-Bold.eot');
    src: url('ReservationWide-Bold.eot?#iefix') format('embedded-opentype'),
        url('ReservationWide-Bold.woff2') format('woff2'),
        url('ReservationWide-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

