
@font-face {
    font-family: 'Reservation Wide Blk';
    src: url('@/assets/ReservationWide-Black.eot');
    src: url('@/assets/ReservationWide-Black.eot?#iefix') format('embedded-opentype'),
        url('@/assets/ReservationWide-Black.woff2') format('woff2'),
        url('@/assets/ReservationWide-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Reservation Wide Bd';
    src: url('@/assets/ReservationWide-Bold.eot');
    src: url('@/assets/ReservationWide-Bold.eot?#iefix') format('embedded-opentype'),
        url('@/assets/ReservationWide-Bold.woff2') format('woff2'),
        url('@/assets/ReservationWide-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ReservationWide-Regular';
    src: url('@/assets/ReservationWide-Regular.eot');
    src: url('@/assets/ReservationWide-Regular.eot') format('embedded-opentype'),
        url('@/assets/ReservationWide-Regular.woff2') format('woff2'),
        url('@/assets/ReservationWide-Regular.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


p, a, strong, span, input, .pre-title {
    font-family: helvetica;
  font-weight: 100;
  font-size: 15px;
    line-height: 1.5;
}
b {
    font-weight: bold;
}
h1 {
    font-family: "Reservation Wide Blk";
    margin: 0;
    font-size: 80px;
    margin-bottom: 40px;
    @media screen and (max-width: 1000px) {
        font-size: 30px;
    }
}
h2, h3, h4 {
    font-family: "ReservationWide-Regular";
    margin: 0;
}
h2 {
    font-size: 22px;
    margin-bottom: 10px;
    @media screen and (max-width: 800px) {
        font-size: 18px;
        line-height: 1.2;
    }
}
h3 {
    @media screen and (max-width: 800px) {
        font-size: 14px;
        line-height: 1.2;
    }
}
h4 {
    @media screen and (max-width: 800px) {
        font-size: 12px;
        line-height: 1.2;
    }
}
$highlightcol: red;
$bg: #2a2a2a;
* {
    color: white;
}

.button {
    text-decoration: none;
    padding: 10px 0px;
    border-radius: 10px;
    background: #424242;
    display: inline-block;
    text-align: center;
    font-family: "Reservation Wide Bd";
    cursor: pointer;
    transition: all 1s ease;
    &:hover {
        transition: all 1s ease;
        opacity: .5;
    }
}

.underline {
    text-decoration: underline;
}